@model IEnumerable<PraktyczneKursy.Models.Kategoria>
@using PraktyczneKursy.Infrastructure

    <nav class="KategorieVertical">
        <ul>
            @foreach (var kategoria in Model)
            {
                <li>
                    <a href="@Url.Action("Lista","Kursy", new { nazwaKategori = kategoria.NazwaKategorii.ToString() })"
                       style="background-image: url(@Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony)); ">
                        @kategoria.NazwaKategorii
                </a>
            </li>
            }
        </ul>
    </nav>
