@model PraktyczneKursy.ViewModels.ZamowienieZrealizowaneEmail
Content-Type: text/html; charset=utf-8

<html>
<body>
    @Html.EmbedImage("~/content/Images/logo.png")
    <p>Dziękujemy!</p>
    <p>Twoje zamówienie nr @Model.NumerZamowienia</p>
    <p>złożone w serwisie praktyczne kursy zostało zrealizowane.</p>
    <p>Zapraszamy ponownie - odwiedź nas wkrótce</p>
</body>
</html>



